$font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$background-color: whitesmoke;
$color-primary: #001d7c;
$color-primary2: #004b97;
$color-white: #fff;
$border-color: rgba(0, 0, 0, 0.1);
$shadow-color: #639fe2;
$pinky-color: #f73cf1f0;
$gradint-color: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
$nav-gradient: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);