@import 'mixins';
@import 'variables';

.body {
  font-family: $font-family;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $background-color;
  background: $gradint-color;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 3rem;

  h2 {
    text-align: center;
    color: $color-primary;
    margin-top: 20rem;
  }

  @include desktop() {
    width: 60%;
    padding: 3rem 2rem 0;
  }
}

.container {
  display: flex;
  flex-direction: column-reverse;

  @include desktop() {
    flex-direction: column;
  }
}

.children {
  display: flex-auto;
}

.hidden {
  visibility: hidden;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}