@import 'mixins';
@import 'variables';

.post {
  border-radius: 1rem;
  box-shadow: 0 0 10px $border-color;
  margin: 0.7rem auto;
  background-color: $background-color;

  @include desktop() {
    max-width: 70%;
  }

  &__authorContainer {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding-left: 1rem;

    &__authorName {
      font-weight: bold;
      padding: 0 1rem;
      color: $color-primary;
    }
  }

  &__imageContainer {
    position: relative;
    width: 100%;
    background-color: $background-color;

    &__overlay {
      position: absolute;
      width: 100%;
      color: $color-white;
      bottom: 0;
      display: flex;
      align-items: flex-end;

      &__text {
        flex-direction: col;
        padding-left: 0.7rem;

        h3 {
          font-size: 1rem;
          margin: 0;
        }

        @include desktop() {
          h3 {
            font-size: 1.2rem;
          }
        }
      }

      &__favIcon {
        color: $color-white;
        margin-left: auto;
        width: 1.6rem;
        height: 1.6rem;
        padding: 0 0.4rem 0.8rem;

        &:hover {
          opacity: 0.9;
          cursor: pointer;
        }
      }
    }
  }

  &__likes {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0;
    color: $color-primary2;

    span {
      padding: 0 0.5rem;
    }

    &__icon {
      width: 1.2rem;
      height: 1.2rem;
      color: $color-primary2;
    }
  }

  &__body {
    padding: 0 1rem;

    span {
      color: $color-primary2;
      padding-right: 0.5rem;
    }

    &__comments {
      color: slategrey;
    }
  }

  .hidden {
    visibility: hidden;
  }
}